// Colors
$color-primary: #003181;
$color-danger: #ff2741;
$color-text-main: #182a42;
$color-text-muted: #8090a4;
$color-border: #ebebeb;
$color-bg-light: #f7f8fa;
$color-bg-blue: #e8f4ff;
$color-white: #fff;

// Typography
$font-main: 500;
$letter-spacing-standard: -2%;
$line-height-flat: 100%;

// Borders & Shadows
$radius-main: 16px;
$radius-button: 15px;