.header {
  width: 100%;
  height: 112px;
  padding: 31px 0;

  &__logo-link {
    display: inline-flex;
    width: 187px;
    height: 50px;
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
