@use "/src/styles/utils/variables.scss" as *;

.sort {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }

  &:hover &__text {
    color: $color-primary;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: $line-height-flat;
    letter-spacing: $letter-spacing-standard;
    color: $color-text-main;
  }

  &__arrow {
    width: 10px;
    height: 10px;
    opacity: 30%;
    transition: transform 0.2s ease;

    &--desc {
      transform: rotate(0deg);
    }

    &--asc {
      transform: rotate(180deg);
    }
  }
}
