.sort {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2%;
    color: #182a42;
  }

  &__arrow {
    width: 10px;
    height: 10px;
    opacity: 30%;
    transition: transform 0.2s ease;

    &--desc {
      transform: rotate(0deg);
    }

    &--asc {
      transform: rotate(180deg);
    }
  }
}
